code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #3273dc !important;
  cursor: pointer;
  text-decoration: none;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

li {
  list-style: none;
}

.book-list {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  margin: 25px 0;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.info {
  padding: 20px;
  background-color: #b4eaaa;
  color: #202020;
}

.hero-body {
  text-align: center;
}

.hero.is-primary {
  background-color: #120d4c;
}

.button.is-primary {
  background-color: #120d4c;
  font-weight: 500;
}

.list-item {
  font-weight: 800;
  font-size: 25px;
}

.list-items {
  padding: 25px 0;
}

.book-title {
  text-align: center;
}

.notification a:not(.button):not(.dropdown-item) {
  text-decoration: none;
}

.book-item {
  font-weight: 500;
  font-size: 16px;

  padding: 10px 0;
}

.book-list {
  background-color: whitesmoke;
}

.post-book {
  margin-top: 25px;
}

.manage-categories {
  font-size: 22px;
  color: #0014ff;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: underline;
}
